
/*  Poner barra de navegación */
.navegacion{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    position: fixed;
    z-index: 1;
    text-decoration: none;
    background-color: rgba(201, 202, 202, 0.932);
}

/*  Estilo a los títulos de la barra */
.contenido_nav{
    margin: 1%;
    padding-left: 2%;
    padding: 2%;
    text-decoration: none;
}

.contenido_nav:hover{
  background-color: rgba(128, 128, 128, 0.692);
}

.titulos{
    font-family: 'Antic Slab', serif;
    
    
}

.parrafos{
    font-family: 'Dosis', sans-serif;
   
}

/*Posición de imagen*/
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/portada.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  /*Estilo de iconos*/
  .fa-whatsapp{
      text-decoration: none;
      font-size: 2em;
    }
  .fa-facebook{
      text-decoration: none;
      font-size: 2em;
  }

  .fa-instagram{
      text-decoration: none;
      font-size: 2em;
  }

/*Estilo de imagen*/

.foto img{
    background-size: contain;
    width: 170px;
    height: 140px;
    border-radius: 50%;
    margin-left: 5%;
}

.estudios{
  background-image: url("imagenes/_Fondo\ .png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

